@import "./shared/fonts";


  html, body {
    font-family: "Montserrat", "Helvetica";
  }

  // SCSS

.parent-class  {
  h1, h2 {
    color: rgb(55, 255, 0);
  }

  &-date {
    color: rgb(51, 255, 0); 
  }
}